@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

/* WRITINGS */

article {
  @apply prose dark:prose-invert prose-p:text-dark dark:prose-p:text-light;
}

article h1,
article h2 {
  @apply text-lg font-semibold;
}

article h1 {
  @apply mb-0;
}

article time {
  @apply text-neutral-400 dark:text-neutral-600;
}

/* PROJECTS */

.logo,
.external {
  @apply transition-transform duration-300;
}

a:hover .logo,
a:hover .external {
  @apply scale-110;
}
