@import "tailwindcss";

@layer base {
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image:
      linear-gradient(
        to right,
        theme("colors.neutral.200") 1px,
        transparent 1px
      ),
      linear-gradient(
        to bottom,
        theme("colors.neutral.200") 1px,
        transparent 1px
      );
    background-size: 25px 25px;
    mask-image: radial-gradient(ellipse at center, black, transparent 75%);
    pointer-events: none;
    z-index: -1;
  }
  @media (prefers-color-scheme: dark) {
    body::before {
      background-image:
        linear-gradient(
          to right,
          theme("colors.neutral.800") 1px,
          transparent 1px
        ),
        linear-gradient(
          to bottom,
          theme("colors.neutral.800") 1px,
          transparent 1px
        );
    }
  }
}
