@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility container {
  margin-inline: auto;
  padding: 1rem;
}

html {
  scrollbar-gutter: stable;
}

article time {
  @apply text-neutral-400 dark:text-neutral-600;
}
